[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Collection of scripts for Querying and Managing Active Directory and Domain Controllers
[access "refs/*"]
	owner = group user/Alexander Knorr (opexxx)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Alexander Knorr (opexxx)
	label-Verified = -1..+1 group user/Alexander Knorr (opexxx)
	push = group user/Alexander Knorr (opexxx)
	read = group user/Alexander Knorr (opexxx)
	rebase = group user/Alexander Knorr (opexxx)
	removeReviewer = group user/Alexander Knorr (opexxx)
	submit = group user/Alexander Knorr (opexxx)
[access "refs/heads/*"]
	create = group user/Alexander Knorr (opexxx)
	push = +force group user/Alexander Knorr (opexxx)
	pushMerge = group user/Alexander Knorr (opexxx)
	read = group user/Alexander Knorr (opexxx)
[access "refs/tags/*"]
	push = group user/Alexander Knorr (opexxx)
	push = +force group user/Alexander Knorr (opexxx)
